<div class="h-100 w-20 max-width-200 px-1 py-2 overflow-y-auto d-flex flex-column gap-16px bg-dark border-top border-bottom border-light">
	<div class="px-2 text-info font-weight-bold">
		Available Navigation:
	</div>
	<div class="btn-outline-info rounded-pill p-2 d-flex flex-column gap-16px border border-light"
		 th:each="nav : ${@navigationService.getUserNavigation()}">
		<a class="px-2 text-light text-decoration-none" th:href="@{${nav.url}}"
		   th:text="${nav.label}"
		></a>
	</div>
</div>