<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script th:replace="~{fragments/common-scripts}"></script>
	
	<script src="/public/js/views/myFiles.js"></script>
	
	<title>Archiver Application</title>
</head>
<body>
<header>
	<div class="h-100 d-inline-flex container-fluid align-items-center justify-content-between px-4 py-2 bg-dark">
		<div th:replace="~{fragments/current-user}">Test</div>
		<div th:replace="~{fragments/logout-button}">Test</div>
	</div>
</header>

<main class="bg-light d-flex">
	<div th:replace="~{fragments/navbar}"></div>
	<button onclick="fetchFiles()">Fetch Files</button>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>